* {

    list-style: none;
    
}


.palabrasNav {
    font-size: 15px;
}

 /* HEADER-NAV */
body {
    /* padding-top: 80px; */
    overflow-x: hidden;

}

nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
    position: fixed;
    /* margin: -80px; */
    margin-left: 0px;
    box-shadow: 0px 11px 23px -0px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: #000000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
   
}
li a.active, li a:hover {
    background: #4E9F1D;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    /*background: url(actividades.png) no-repeat; IMAGEN DEL TITULO*/
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}



    /*ACAMPADA 1*/

.contenedor{
    display: flex;
    justify-content: center;

}

.img-acampada1 {
    height: 390px;
    width: 450px;
    border-radius: 10px;

}

.contenedor1{
    margin-left: 15px;
}

.contenedor1-1 {
    margin-left: 40px;
    margin-right: 15px;

    width: 450px;   
    
}

.acampada1-titulo{
    text-decoration: none;
    color: #000;
    font-size: 23px;
}

.contenedor1-2 {
    display: flex;
    margin-top: 10px;
}
.contenedor1-3{
    background-color: #77e035;
    border-radius: 12px;
    padding: 9px;
    font-size: 15px;
    color: #000;
}

.contenedor1-3-1 {
    margin-left: 10px;
}

.acampada1-fecha {
    color: #c94a00;
}

.acampada1-ubicacion{
    margin-top: 5px;
}

.fa-location-dot{
    margin-right: 5px;
}

.acampada1-descripcion{
    font-family: sans-serif;
    margin-bottom: 18px;
    margin-top: 18px;
}








@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #4E9F1D; /*Color de fondo menu responsivo*/
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #fff; /*Color Letra menu responsivo*/
    }
    #check:checked ~ ul{
        left:0;
    }




    /*ACAMPADA 1*/

.contenedor{
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.img-acampada1 {
    display: block;
    margin: auto;
    margin-bottom: 10px;


    /* min-height: 190px;
    min-width: 250px; */

}

.contenedor1{
    margin-left: 0px;
}

.contenedor1-1 {
    margin: auto;
}

.acampada1-fecha {
    text-align: center;

}

.acampada1-titulo1{
    text-align: center;

}



}





    /*TITULO*/

    /* .titulo {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(actividades.png);
        background-size: cover;
        background-position: center;
        
    
    
    }
    
    
    
    
    
    .lorem {
        padding-top: 50px ;
    }
    
    
    .div-actividades {
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        
    }
    
    .img-btn {
        width: 300px;
        height: 360px;
        border-radius: 10px;
    }
     .btn-actividades {
        margin-left: 30px;
        margin-right: 30px;
        
     } */












