* {

    list-style: none;
    font-family: "popins", sans-serif;
}



.palabrasNav {
    font-size: 15px;
}

 /* HEADER-NAV */
body {
    /* padding-top: 80px; */
    overflow-x: hidden;

}

nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
    position: fixed;
    /* margin: -80px; */
    margin-left: 0px;
    box-shadow: 0px 11px 23px -0px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    z-index: 100px;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #000000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover {
    background: #4E9F1D;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    /* background: url(img/ancha2.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px); */
    /* margin-bottom: 200px; */
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #4E9F1D; /*Color de fondo menu responsivo*/
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #fff; /*Color Letra menu responsivo*/
    }
    #check:checked ~ ul{
        left:0;
    }
}



    /*TITULO*/

.titulo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/ancha2.png);
    background-size: cover;
    background-position: center;

}



.titulo-texto {
    color: #fff;
    /* margin-bottom: 15%; */
    text-align: center;
    width: 50%;
    height: 40%;

}




.lorem {
    padding-top: 50px ;
}


.logos {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.img-logos {
    width: 200px;
    height: 200px;
    margin: 15px;
    
}
.img-logos-k{
    width: 250px;
    height: 200px;
    margin: 15px;
}    


/* CARTAS  DE LOS PROYECTOS*/

.titulo-proyectos {
    text-align: center;
    font-size: 35px;    
}
.cartas {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}
.carta-perfil{
    width: 310px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    border: solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
}
.carta-perfil:hover{
    border: solid #4E9F1D 2px;
}
.card__perfil:hover img{
    transform: rotate(0);
}
.img-cartas{
    width: 140px;
}

.img-cartas-Kayak {
    margin-top: 43px;
    margin-bottom: 43px;
}
.carta-nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
hr{
    width: 100%;
    height: 4px;
    background: rgb(223, 221, 221);
    margin: 20px 5px;
}
.hr-linea {
    margin-top: 38px;
}
.hr-linea-kayak {
    margin-top: 75px;
}
.carta-button{
    text-align: center;
}

.carta-enlace{
    background: #4E9F1D;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
}


/* SERVICIOS */

.contenedor-servicios {
    width: 95%; 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }


  .columna {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .caja {
    width: 100%;
    height: 90%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #4E9F1D 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;

  }

.titulo-servicios {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
  }
.subtitulo-servicios {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }

.descripcion-servicios {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }

.img-caja  {

    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;

    display: grid;
    place-items: center;
    transition: 0.5s;

}

.caja:hover {
    background-position: 0 100%;
}

.caja:hover h3 {
    color: #ffffff;
}

.caja:hover p {
    color: #f0f0f0;
}

@media screen and (min-width: 768px) {

    .columna {
    flex: 0 50%;
    max-width: 50%;
    }
}

@media screen and (min-width: 992px) {

    .columna {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    }
}
























































